*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container{
    background-color: #000;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    padding: 40px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: burlywood;
    font-family: 'Kalam', cursive;
}

a{
    text-decoration: none;
}

nav a{
    text-decoration: none;
    color: burlywood;
    font-family: 'Gluten', cursive;
    font-size: 15x;
    margin: 40px 20px 0 0;
    transition: .3s;
}

nav a:hover{
    color: red;
}
main{
    display: flex;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-image: url(./imges/bg.jpg);
    background-position: center;
    background-size: cover;
}

main .homepage-text{
    padding-right: 90px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
}

main div h1, p{
    color: blanchedalmond;
    margin-bottom: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
}

main div button{
    width: 300px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    padding: 10px 0;
    border-radius: 20px;
    background-color: rgba(179, 185, 255, 0.24);
    border: 1px solid black;
}
.photo-describe{
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 760px){
    header{
        display: block;
        gap: 20px;
    }
    header nav{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    main .homepage-text{
        width: 70%;
    }
    main div button{
        font-size: 10px;
        width: 200px;
        font-family: 'Montserrat Alternates', sans-serif;
        color: white;
        padding: 10px 25px;
        border-radius: 20px;
        background-color: rgba(179, 185, 255, 0.24);
        border: 1px solid black;
    }
}


/*---about-section---*/

.about-main{
    height: 100vh;
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}

.about-text{
	width: 550px;
    margin: auto;
}

.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}



