*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.home-container{
    background-color: #000;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    padding: 40px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: burlywood;
    font-family: 'Kalam', cursive;
}

a{
    text-decoration: none;
}

nav a{
    text-decoration: none;
    color: burlywood;
    font-family: 'Gluten', cursive;
    font-size: 15x;
    margin: 40px 20px 0 0;
    transition: .3s;
}

nav a:hover{
    color: red;
}
main{
    display: flex;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-image: url(./imges/bg.jpg);
    background-position: center;
    background-size: cover;
}

main .homepage-text{
    padding-right: 90px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
}

main div h1, p{
    color: blanchedalmond;
    margin-bottom: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
}

main div button{
    width: 300px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    padding: 10px 0;
    border-radius: 20px;
    background-color: rgba(179, 185, 255, 0.24);
    border: 1px solid black;
}
.photo-describe{
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 760px){
    header{
        display: block;
        gap: 20px;
    }
    header nav{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    main .homepage-text{
        width: 70%;
    }
    main div button{
        font-size: 10px;
        width: 200px;
        font-family: 'Montserrat Alternates', sans-serif;
        color: white;
        padding: 10px 25px;
        border-radius: 20px;
        background-color: rgba(179, 185, 255, 0.24);
        border: 1px solid black;
    }
}


/*---about-section---*/
.About-container{
    height: 100vh;
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    background-image: url(./imges/bg-gif.gif);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
.About-container > h2{
    margin-top: 60px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(255, 35, 35);
}

.about-text{
    line-height: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
	width: 550px;
    margin: auto;
}
.about-text > h5{
    color: blanchedalmond;
    font-size: 20px;
}
.about-text h5 span{
    color: blueviolet;
}

.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
    transition: .4s;
    margin-bottom: 40px;
}
.btn:hover{
    border: 1px solid rgb(197, 187, 187);
    background-color: transparent;
}



form{
    display: none;
}

@media (max-width: 760px){
    .about-text{
        width: 300px;
        font-size: smaller;
    }
}

/* services */
.services{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.services h2{
    margin: 100px 0;
    font-family: 'Montserrat Alternates', sans-serif;
    color: red;
    display: flex;
    justify-self: center;
    align-self: center;
}
.services{
    padding: 0 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    color:#fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}


.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .serv-content{
    display: flex;
    gap: 30px;
}
.max-width{
    margin-bottom: 100px;
}
@media (max-width: 700px){
    .services .serv-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .services .serv-content .card{
        width: 300px;
    }
}

/* Skills section css */

article{
    background-image: url(./imges/bg-skills.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 30px;
}
article h1{
    color: red;
    text-align: center;
    margin: 40px 0;
    font-size: 50px;
    font-family: 'Montserrat Alternates', sans-serif;;
}
article .skills-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.skills-container div{
    width: 350px;
    height: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 350px;
    padding: 20px;
    background: rgb(25,24,27);
    background: linear-gradient(90deg, rgba(25,24,27,1) 0%, rgba(14,13,13,0.8102591378348214) 64%);
}


