*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection{
  background: rgb(0,123,255,0.3);
}


.home-container{
    background-color: #000;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header{
    height: 10vh;
    position: fixed;
    width: 100%;
    padding: 0px 50px 0 50px;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

header h1{
    color: burlywood;
    font-family: 'Kalam', cursive;
}

a{
    text-decoration: none;
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    transition: .4s;
}

nav a{
    letter-spacing: 2px;
    border: 1px solid;
    padding: 5px 15px;
    border-radius: 15px;
    text-decoration: none;
    color: burlywood;
    font-family: 'Gluten', cursive;
    font-size: 15px;
    transition: .3s;
}

nav a:hover{
    color: red;
    border: 1px solid rgb(180, 164, 164);
}

.header{
    height: 10vh;
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 25px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

#toggle{
    display: none;
    position: relative;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform: translateY(-5px);
    transition: .3s;
    
}

#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform: translateY(5px);
    transition: .3s;
}

#toggle.active::before{
    background-color: red;
    transform: translateY(0) rotate(45deg);
}

#toggle.active::after{
    background-color: red;
    transform: translateY(0) rotate(-45deg);
}

#toggle.active{
    background-color: transparent;
}

#toggle{
    display: none;
}

#nav.active{
    display: flex;
}

@media (max-width: 1050px){
    #toggle{
        display: flex;
    }

    nav{
        position: fixed;
        bottom: 0;
        right: -100%;
        width: 100%;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 10vh);
    }

    #nav.active{
        background-color: chocolate;
        height: calc(100vh - 12.7vh);        
        bottom: 0;
        right: 0;
    }

}

@media (max-width: 990px){
    nav{
        position: fixed;
        bottom: 0;
        right: -100%;
        width: 100%;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 10vh);
    }

    #nav.active{
        background-color: #201c1c;
        height: calc(100vh - 12.7vh);        
        bottom: 0;
        right: 0;
    }

}

/* Styles when scroll:  */

.scrolling-active{
    background-color: #110824;
    border-bottom: 2px solid rgba(255,255,255,.2);
    transition: height .5s ease;
    box-shadow: 20px 10px 5rem rgba(133, 27, 27, 0.2);
}



main{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(./imges/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main .homepage-text{
    padding-right: 90px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
}

main div h1, p{
    color: blanchedalmond;
    margin-bottom: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
}

main div button{
    width: 300px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    padding: 10px 0;
    border-radius: 20px;
    background-color: rgba(179, 185, 255, 0.24);
    border: 1px solid black;
}



@media (max-width: 580px){
    .homepage-text{
        font-size: 15px;
    }

    main div button{
        font-size: 10px;
        width: 200px;
        font-family: 'Montserrat Alternates', sans-serif;
        color: white;
        padding: 10px 25px;
        border-radius: 20px;
        background-color: rgba(179, 185, 255, 0.24);
        border: 1px solid black;
    }

}


/*---about-section---*/

.About-container{
    height: 100%;
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    background-image: url(./imges/bg-gif.gif);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    padding: 0 50px;
}

.About-container > h2{
    margin-top: 60px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(255, 35, 35);
}

.about-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.about-text, h5{
    line-height: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
	width: 550px;
}

.about-text > h5, .edu > h5{
    color: blanchedalmond;
    font-size: 20px;
    
}

.about-text h5 span{
    color: blueviolet;
}

figure {
    overflow: hidden;
    display: inline-block;
    border: 1px dotted gray;
    margin-bottom: 100px; /* adjust as needed */
}

figure img {
    transition: .3s;
    vertical-align: top;
}

figure figcaption {
    padding: 10px;
    border: 1px dotted blue;
    text-align: center;
}

figure figcaption span{
    font-family: 'Montserrat Alternates', sans-serif;;
    font-size: 15px;
    margin-bottom: 15px;
    color: red;
}

.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
    transition: .4s;
    margin-bottom: 40px;
}

.btn:hover{
    border: 1px solid rgb(197, 187, 187);
    background-color: transparent;
}



@media (max-width: 1259px){
    .About-container .about-main{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .about-text{
        display: block;
        margin: 0 auto;
        width: 500px;
        font-size: smaller;
    }

    .edu{
        display: block;
        margin: 0 auto;
    }

}

@media (max-width: 600px){
    .About-container .about-main{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .about-text{
        display: block;
        margin: 0 auto;
        width: 350px;
        font-size: smaller;
    }

    .edu{
        display: block;
        margin: 0 auto;
    }

}

/* services */

.services{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.services h2{
    margin: 100px 0;
    font-family: 'Montserrat Alternates', sans-serif;
    color: red;
    display: flex;
    justify-self: center;
    align-self: center;
}

.services{
    padding: 0 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    color:#fff;
    background: #111;
}

.services .title::before,
.teams .title::before{
    background: #fff;
}

.services .title::after,
.teams .title::after{
    background: #111;
}

.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card:hover{
    background: crimson;
}

.services .serv-content .card .box{
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box{
    transform: scale(1.05);
}


.services .serv-content .card:hover i{
    color: #fff;
}

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.services .serv-content{
    display: flex;
    gap: 30px;
}

.max-width{
    margin-bottom: 100px;
}

@media (max-width: 700px){
    .services .serv-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services .serv-content .card{
        width: 300px;
    }
}

/* Skills section css */

article{
    background-image: url(./imges/bg-skills.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 30px;
}

article h1{
    color: red;
    text-align: center;
    margin: 40px 0;
    font-size: 50px;
    font-family: 'Montserrat Alternates', sans-serif;
}

article .skills-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skills-container div{
    overflow: hidden;
    width: 350px;
    height: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 350px;
    padding: 20px;
    background: rgb(25,24,27);
    background: linear-gradient(90deg, rgba(25,24,27,1) 0%, rgba(14,13,13,0.8102591378348214) 64%);
}

.skills-container div p{
    text-align: center;
    transition: .3s;
}

.skills-container div p:hover, img:hover{
    transform: scale(1.1);
}


/* contact section */


.contact{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #111;
}

.contact h1, h2, h3, p, button, input, textarea{
    font-family: 'Montserrat Alternates', sans-serif;
}

.contact h1, h2, h3{
    color: #f9004d;
}

.contact h1{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

.contact-infos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.infos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infos > div{
    display: flex;
    gap: 15px;
    align-items: center;
}

.name-txt{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.email img{
    padding: 10px;
}

.email{
    display: flex;
    align-items: center;
}

.email .name-txt{
    margin-top: 15px;
}

textarea{
    resize: none;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background: linear-gradient(90deg, rgba(25,24,27,1) 0%, rgba(32,28,28,0.8102591378348214) 64%);
}

form label{
    display: flex;
    gap: 20px;
}
form label input{
    color: blanchedalmond;
    font-family: 'Montserrat Alternates', sans-serif;
    border: 1px solid silver;
    width: 400px;
    background-color: transparent;
}

form input, textarea{
    color: blanchedalmond;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid silver;
}

form .btn{
    width: 200px;
}

@media (max-width: 950px){
    .contact-infos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    form > input, textarea{
        width: 620px;
    }

    form label input{
        width: 300px;
    }
}

@media (max-width: 800px){
    .contact-infos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    form > input, textarea{
        width: 520px;
    }

    form label input{
        width: 250px;
    }
}

@media (max-width: 650px){
    .contact-infos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    form > input, textarea{
        width: 360px;
    }

    form label input{
        width: 170px;
    }
}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    background-color: rgb(34, 29, 29);
}

footer p, h2{
    font-family: 'Montserrat Alternates', sans-serif;
}

footer p{
    text-align: center;
    line-height: 40px;
}

footer .social-link{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-bottom{
    display: block;
    background-color: #000;
    width: 99.3vw;
    text-align: center;
    padding: 25px 0;
}

.footer-bottom p{
    font-size: 15px;
}



